[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
persist-queue = "*"
beautifulsoup4 = "*"
requests = "*"
"Mastodon.py" = "*"
cacheout = "==0.13.1"
mongita = "==1.1.1"
objection-engine = {ref = "a64b2f5", git = "https://github.com/LuisMayo/objection_engine"}

[dev-packages]

[requires]
python_version = "3.9"
